/*
*******************************************************************************************************
******************************************** CONFIG  *********************************************
*******************************************************************************************************
*/


@font-face {
    font-family: 'Hk Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('./HKGrotesk-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('./Jost-Regular.ttf') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --taille_police_petite: 1.8rem;
    --taille_police_normal: 2.2rem;
    --taille_police_moyen: 2.8rem;
    --taille_police_moyen-1: 3.6rem;
    --taille_police_large: 5.5rem;
    --taille_police_enorme: 7.5rem;
    --police_par_defaut: 'Hk Grotesk', sans-serif;

    --ligne_hauteur_normal: 1.7;
    --ligne_hauteur_petite: 1.2;

    --noir: #000;
    --vert: #7AA36E;
    --blanc: #f0e9f2;
    --blanc-1: #e5e5e6da;


    --conteneur_max_largeur: 1180px;
    --conteneur_normal_largeur: 800px;
    --conteneur_moyen_largeur: 700px;
    --conteneur_petite_largeur: 500px;

    --gouttière_enorme: 12rem;
    --gouttière_moyen: 6rem;
    --gouttière_normal: 3rem;
    --gouttière_petite_1: 2.5rem;
    --gouttière_petite: 2rem;

    --border-light: 1px solid rgb(36, 35, 35);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media(max-width: 1000px) {
    html {
        font-size: 52%;
    }
}

body {
    font-size: var(--taille_police_petite);
    font-family: var(--police_par_defaut);
    font-weight: 400;
    color: var(--blanc-1);
    line-height: var(--ligne_hauteur_normal);
    background: var(--noir);
    overflow-x: hidden;
}





/*
*******************************************************************************************************
******************************************** TEXTES  *********************************************
*******************************************************************************************************
*/

h1,
h2,
h3 {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    line-height: var(--ligne_hauteur_petite);
    color: var(--blanc);
}