@media screen and (orientation: portrait) {
    /*
        *******************************************************************************************************
        ******************************************** ALL  *********************************************
        *******************************************************************************************************
        */


    body {
        margin: 0;
        padding: 0;
        background-image: url(../../IMGS/Contact/Background.gif);
        background-repeat: repeat;
        background-size: cover;
        height: auto;
        width: 100vw;
        overflow-x: hidden;

    }


    * {
        margin: 0;
        padding: 0;

    }

    /*
        *******************************************************************************************************
        ******************************************** typos  *********************************************
        *******************************************************************************************************
        */


    /* *************** POUR LES TEXTES ******************  */

    @font-face {
        font-family: 'TypoTexteAll';
        src: url(../../TYPOS/Tonnelier-Medium.ttf);
    }


    /* *************** POUR LES TITRES ******************  */


    @font-face {
        font-family: "TypoTexteCT";
        src: url(../../TYPOS/ColaneiraDemo-Regular.otf);
    }


    @font-face {
        font-family: 'TypoTexteCZ';
        src: url(../../TYPOS/Cetary.otf);
    }



    /* *************** POUR LES SOUS TITRES ******************  */

    @font-face {
        font-family: "TypoSousTitre";
        src: url(../../TYPOS/Socheerful-Regular.otf);
    }


    /*
        *******************************************************************************************************
        ******************************************** COULEURS  *********************************************
        *******************************************************************************************************
        */




    :root {
        --couleur_vert: #7AA36E;
        --couleur_blanche: white;

    }




    /*
        *******************************************************************************************************
        ******************************************** HEADER  *********************************************
        *******************************************************************************************************
        */



    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 20%;
    }



    #Logo {
        height: 10vh;
        padding: 2%;
        position: relative;
        top: 5%;

    }



    .HeaderButtons {
        display: flex;
        justify-content: space-around;
        height: 13%;
        width: 40%;

    }


    #TextHomeH {

        color: var(--couleur_vert);
        font-size: 1.5vh;
        font-family: 'TypoTexteAll';
        height: 2vh;
        width: 9vw;
        text-decoration: none;
        position: relative;
        right: 10%;

    }


    #TextProposH {

        color: var(--couleur_vert);
        font-size: 1.5vh;
        font-family: 'TypoTexteAll';
        height: 2vh;
        width: 17vw;
        position: relative;
        text-decoration: none;
        right: 4%;

    }



    #TextProjetsH {
        color: var(--couleur_vert);
        font-size: 1.5vh;
        font-family: 'TypoTexteAll';
        height: 2vh;
        width: 12vw;
        text-decoration: none;
        position: relative;
        right: 5%;

    }


    #TextContactH {

        color: var(--couleur_blanche);
        font-size: 1.5vh;
        font-family: 'TypoTexteAll';
        height: 9vh;
        width: 1vw;
        text-decoration: none;

    }



    #TextHomeH:hover,
    #TextProjetsH:hover,
    #TextLabH:hover,
    #TextHomeH:hover {
        color: var(--couleur_blanche);
    }



    /*
        *******************************************************************************************************
        ******************************************** P1  *********************************************
        *******************************************************************************************************
        */



    #TitleAll {
        position: relative;
        height: 40%;
        width: 50%;
        top: 0%;
        left: 36%;
    }



    #TitleCZ {
        position: absolute;
        font-family: 'TypoTexteCZ';
        left: 24%;
        height: 6vh;
        width: 39vw;
        font-size: 8vw;
        color: var(--couleur_vert);
        top: 20%;
    }


    /*
        *******************************************************************************************************
        ******************************************** P2  *********************************************
        *******************************************************************************************************
        */



    #PageForAll {
        width: 50%;
        height: 50%;
    }


    #Contact {
        display: flex;
        height: 40vh;
        width: 100vw;
        justify-content: center;
        left: 25%;
    }



    #LeTitleCT {
        display: flex;
        justify-content: center;
    }


    #IconeNav {
        display: flex;
        justify-content: center;
        position: relative;
        right: 14%;
        height: 46%;
        width: 34%;
        top: 55%;
    }


    /* ********************* INSTA  ********************** */

    #GitCT {
        height: 11vh;
        width: 11vw;
        position: relative;
        top: 41%;

    }


    #RedicGit {

        height: 14vh;
        width: 12vh;

    }



    /* ********************* LIK  ********************** */



    #LinkCT {
        height: 12vh;
        width: 12vw;
        position: relative;
        top: 69%;
        right: 25%;
    }



    #RedicLink {
        height: 7vh;
        width: 7vh;

    }


    /* ********************* TEXTE  ********************** */


    #DescAllContact {
        color: var(--couleur_blanche);
        font-size: 2.5vh;
        height: 15vh;
        width: auto;
        position: relative;
        top: 0%;
        text-align: center;
        left: 25%;
        font-family: 'TypoTexteAll';
    }


    #forinter {
        text-decoration: none;
        text-align: none;

    }

}