@media screen and (orientation : portrait) {

    /*
    *******************************************************************************************************
    ******************************************** ALL  *********************************************
    *******************************************************************************************************
    */


    body {
        margin: 0;
        padding: 0;
        background-color: black;
        background-image: url(../../../IMGS/Projets/Background.gif);
        background-repeat: repeat;
        background-size: cover;
        height: auto;
        width: 100vw;
        overflow-x: hidden;

    }


    * {
        margin: 0;
        padding: 0;

    }

    /*
    *******************************************************************************************************
    ******************************************** typos  *********************************************
    *******************************************************************************************************
    */


    /* *************** POUR LES TEXTES ******************  */

    @font-face {
        font-family: 'TypoTexteAll';
        src: url(../../../TYPOS/Tonnelier-Medium.ttf);
    }


    /* *************** POUR LES TITRES ******************  */


    @font-face {
        font-family: "TypoTitle2";
        src: url(../../../TYPOS/ColaneiraDemo-Regular.otf);
    }


    @font-face {
        font-family: 'TypoTitle1';
        src: url(../../../TYPOS/Cetary.otf);
    }



    /* *************** POUR LES SOUS TITRES ******************  */

    @font-face {
        font-family: "TypoSousTitre";
        src: url(../../../TYPOS/Socheerful-Regular.otf);
    }


    /*
    *******************************************************************************************************
    ******************************************** COULEURS  *********************************************
    *******************************************************************************************************
    */




    :root {
        --couleur_vert: #7AA36E;
        --couleur_blanche: white;

    }




    /*
    *******************************************************************************************************
    ******************************************** HEADER  *********************************************
    *******************************************************************************************************
    */



    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 10%;
    }



    #Logo {
        height: 10vh;
        padding: 2%;
        position: relative;
        top: 5%;

    }



    .HeaderButtons {
        display: flex;
        justify-content: space-around;
        height: 13%;
        width: 40%;

    }


    #TextHomeH {

        color: var(--couleur_vert);
        font-size: 1.5vh;
        font-family: 'TypoTexteAll';
        height: 2vh;
        width: 7vw;
        text-decoration: none;
        position: relative;
        right: 14%;

    }


    #TextProposH {

        color: var(--couleur_vert);
        font-size: 1.5vh;
        font-family: 'TypoTexteAll';
        height: 2vh;
        width: 17vw;
        text-decoration: none;
        position: relative;
        right: 4%;

    }



    #TextProjetsH {
        color: var(--couleur_vert);
        font-size: 1.5vh;
        font-family: 'TypoTexteAll';
        height: 4vh;
        width: 13vw;
        text-decoration: none;
        position: relative;
        right: 3%;

    }



    #TextContactH {

        color: var(--couleur_vert);
        font-size: 1.5vh;
        font-family: 'TypoTexteAll';
        height: 4vh;
        width: 4vw;
        text-decoration: none;

    }



    #TextHomeH:hover,
    #TextLabH:hover,
    #TextContactH:hover,
    #TextHomeH:hover {
        display: none;
    }



    /*
    *******************************************************************************************************
    ******************************************** P1  *********************************************
    *******************************************************************************************************
    */


    #AllPage {
        width: 100%;
        height: 100%;
    }


    #Title {

        position: relative;
        height: 30%;
        width: 100%;

    }


    #TitlePS {
        position: absolute;
        font-family: 'TypoTitle2';
        left: 29%;
        top: 38%;
        height: 6vh;
        width: 54vw;
        font-size: 5vh;
        color: var(--couleur_vert);
        transition: all 1s;

    }

    /*
    *******************************************************************************************************
    ******************************************** P2  *********************************************
    *******************************************************************************************************
    */


    /**************************** ENTREE ****************************** */


    #Entree {
        width: 50%;
        height: 50%;


    }


    #ImgEntreE {
        position: relative;
        height: 48%;
        left: 0%;
        top: 4%;

    }


    #ImgEntreJ {
        position: relative;
        height: 49%;
        top: 6%;

    }

    #TextEntree {
        position: relative;
        height: 5%;
        width: 52%;
        color: var(--couleur_vert);
        left: 17%;
        font-family: "TypoSousTitre";
        font-size: 3vh;
    }




    /**************************** SUJET ****************************** */



    #Sujet {

        width: 50%;
        height: 50%;

    }


    #TextSujet {

        position: relative;
        height: 20%;
        width: 29%;
        color: var(--couleur_vert);
        left: 129%;
        font-family: "TypoSousTitre";
        font-size: 2vh;
        top: 25%;
    }



    #DescPS {

        position: relative;
        height: 46%;
        width: 178%;
        color: var(--couleur_vert);
        left: 12%;
        font-family: 'TypoTexteAll';
        font-size: 1.8vh;
        top: 15%;
    }


    /**************************** SCREEN ELSA ****************************** */




    #ScreensE {
        display: flex;
        position: relative;
        /* top: 90%; */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }




    #TextScreensE {

        position: relative;
        height: 1%;
        width: 38%;
        color: var(--couleur_vert);
        right: 55%;
        font-family: "TypoSousTitre";
        font-size: 2vh;
    }



    .LesImagesE {
        position: absolute;
        margin-top: 5%;
        display: flex;
        height: 80%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: space-between;
    }




    .IntBoitesE {
        height: 86%;
        margin-left: 3%;
        padding: 1%;
        margin-bottom: 1vh;
        left: 24%;
        margin-top: 7%;
    }



    .ALLE {
        position: relative;
        width: 88%;
        margin: auto;
    }



    #CreditsE {
        color: var(--couleur_blanche);
        position: relative;
        height: 5vh;
        width: 51vh;
        left: 15%;
        font-size: 2vh;
        font-family: 'TypoTexteAll';
        text-decoration: none;
    }


    #CreditsAE {
        color: var(--couleur_vert);
        text-decoration: none;

    }


    /**************************** SCREEN Jade ****************************** */




    #ScreensJ {
        display: flex;
        position: relative;
        top: 268%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }




    #TextScreensJ {
        position: relative;
        height: 1%;
        width: 76%;
        color: var(--couleur_vert);
        right: 28%;
        font-family: "TypoSousTitre";
        font-size: 2vh;

    }









    .LesImagesJ {
        position: absolute;
        margin-top: -5%;
        margin-left: 9%;
        margin-right: -8%;
        display: flex;
        /* width: 100%; */
        height: 80%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: space-between;
        /* flex-direction: row;*/
    }




    .IntBoitesJ {
        height: 86%;
        margin-left: 3%;
        padding: 1%;
        margin-bottom: 1vh;
        left: 24%;
        margin-top: 7%;
    }



    .ALLJ {
        position: relative;
        width: 88%;
        margin: auto;
        right: 9%;
    }




    #CreditsJ {
        color: var(--couleur_blanche);
        position: relative;
        height: 5vh;
        width: 51vh;
        left: 11%;
        top: 272%;
        font-size: 2vh;
        font-family: 'TypoTexteAll';
        text-decoration: none;
    }



    #CreditsAJ {
        color: var(--couleur_vert);
        text-decoration: none;

    }

}