@media screen and (orientation : landscape) {





    /*
*******************************************************************************************************
******************************************** ALL  *********************************************
*******************************************************************************************************
*/


    body {
        margin: 0;
        padding: 0;
        background-image: url(../../IMGS/Propos/Background.gif);
        background-repeat: repeat;
        background-size: cover;
        height: auto;
        width: 100vw;
        overflow-x: hidden;

    }


    * {
        margin: 0;
        padding: 0;

    }

    /*
*******************************************************************************************************
******************************************** typos  *********************************************
*******************************************************************************************************
*/


    /* *************** POUR LES TEXTES ******************  */

    @font-face {
        font-family: 'TypoTexteAll';
        src: url(../../TYPOS/Tonnelier-Medium.ttf);
    }


    /* *************** POUR LES TITRES ******************  */


    @font-face {
        font-family: "TypoTitleAM";
        src: url(../../TYPOS/ColaneiraDemo-Regular.otf);
    }


    @font-face {
        font-family: 'TypoTitleAp';
        src: url(../../TYPOS/Cetary.otf);
    }



    /* *************** POUR LES SOUS TITRES ******************  */

    @font-face {
        font-family: "TypoSousTitre";
        src: url(../../TYPOS/Socheerful-Regular.ttf);
    }


    /*
*******************************************************************************************************
******************************************** COULEURS  *********************************************
*******************************************************************************************************
*/




    :root {
        --couleur_vert: #7AA36E;
        --couleur_blanche: white;

    }




    /*
*******************************************************************************************************
******************************************** HEADER  *********************************************
*******************************************************************************************************
*/



    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 20%;
    }



    #Logo {
        height: 16vh;
        padding: 50px;

    }



    .HeaderButtons {
        display: flex;
        justify-content: space-around;
        height: 13%;
        width: 40%;

    }


    #TextHomeH {

        color: var(--couleur_vert);
        font-size: 1.5vh;
        font-family: 'TypoTexteAll';
        height: 2vh;
        width: 3vw;
        text-decoration: none;

    }


    #TextProposH {

        color: var(--couleur_blanche);
        font-size: 1.5vh;
        font-family: 'TypoTexteAll';
        height: 2vh;
        width: 5vw;
        text-decoration: none;

    }



    #TextProjetsH {

        color: var(--couleur_vert);
        font-size: 1.5vh;
        font-family: 'TypoTexteAll';
        height: 4vh;
        width: 4vw;
        text-decoration: none;

    }



    #TextContactH {

        color: var(--couleur_vert);
        font-size: 1.5vh;
        font-family: 'TypoTexteAll';
        height: 4vh;
        width: 4vw;
        text-decoration: none;

    }



    #TextHomeH:hover,
    #TextProjetsH:hover,
    #TextLabH:hover,
    #TextContactH:hover {
        color: var(--couleur_blanche);
    }


    /*
*******************************************************************************************************
******************************************** P1  *********************************************
*******************************************************************************************************
*/



    #TitleAll {

        position: relative;
        height: 50%;
        width: 100%;

    }



    #TitleAP {
        position: absolute;

        font-family: 'TypoTitleAp';

        left: 31%;

        height: 16vh;
        width: 37vw;
        font-size: 7vw;

        color: var(--couleur_vert);
    }



    #TitleAM {
        position: absolute;
        font-family: 'TypoTitleAM';
        left: 28%;
        top: 25%;
        height: 14vh;
        width: 57vw;
        font-size: 7vw;
        color: var(--couleur_vert);
        transition: all 1s;

    }


    #TitleAM:hover {

        transition: all 1s;
        font-family: 'TypoTitleAp';


    }


    /*
*******************************************************************************************************
******************************************** P2  *********************************************
*******************************************************************************************************
*/


    #AllPage {
        width: 50%;
        height: 50%;
    }


    /*************************************** MOI  ****************************************/

    #Moi {
        display: flex;
        height: 55vh;
        width: 100vw;

    }



    #TexteMoi {

        color: var(--couleur_blanche);
        font-size: 3vh;
        font-family: 'TypoTexteAll';
        height: 32vh;
        width: 38vw;
        text-align: center;
        text-decoration: none;
        position: relative;
        left: 27%;
        top: 20%;

    }


    #TexteMoiST {
        color: var(--couleur_vert);

    }




    /*************************************** FIN  ****************************************/


    #LeFooter {
        display: flex;
        height: 8vh;
        width: 100vw;

    }


    #TexteFin {

        position: relative;
        top: 200%;
        left: 32%;
        display: flex;
        justify-content: center;
        color: gray;
        font-family: 'TypoTexteAll';

    }

}